* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    background-color: #222730;
}

.page-wrapper {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    width: 60%;
    background-color: cadetblue;
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-top: 20vh;
    width: 40%;
    background-image: url(./images/dragonfruit.jpg);
    background-position: center;
    background-color: aquamarine;
}

.splash-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.5);
}

.splash-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    height: 100%;
}

.splash-logo {
    height: 100%;
    width: auto;
}

.splash-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.splash-footer-text {

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 65%;
    background-color: blanchedalmond;
}

.content-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4vh;
    padding: 20vh 2vw 0;
    font-size: large;
    background-color: peru;
}

.content-form {
    flex: 1;
    background-color: palevioletred;
}

.content-footer {
    flex: 1;
    background-color: burlywood;
}